<div class="my-info">
  <div class="my-img">
    <img src="img/my-img.jpg" alt="" />
  </div>

  <p><span id="roles"></span></p>
  <h1 class="my-name">Hi, I'm <span>Jomar Kristoffer L. Besayte</span>!</h1>
  <p class="about-me">
    Experienced Web Developer with a freelance background as a Fullstack Web
    Developer, bringing skills in Web Development, Database Management, and
    Quality Assurance Testing. Driven by a strong belief in digital inclusivity
    and accessibility, I am dedicated to building web experiences that are
    inclusive and accessible to everyone.
  </p>

  <div class="profile-links">
    <i class="fab fa-linkedin linkedin"></i>
    <i class="fab fa-github github"></i>
  </div>

  <div class="hero-btns">
    <button class="cv">Download CV <i class="fas fa-download"></i></button>
    <button class="hire-me">Hire me! <i class="fas fa-briefcase"></i></button>
  </div>
</div>
