<div class="nav-container">
  <div class="nav-header">
    <img src="img/logo/logo.png" alt="Logo" class="logo" />

    <ul class="links">
      <li>
        <a href="">About</a>
        <span class="line"></span>
      </li>

      <li>
        <a href="">Skills</a>
        <span class="line"></span>
      </li>

      <li>
        <a href="">Services</a>
        <span class="line"></span>
      </li>

      <li>
        <a href="">Projects</a>
        <span class="line"></span>
      </li>

      <li>
        <a href="">Experience</a>
        <span class="line"></span>
      </li>
    </ul>

    <div class="color-theme">
      <input type="checkbox" class="checkbox" id="checkbox" />
      <label for="checkbox" class="checkbox-label">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <span class="ball"></span>
      </label>
    </div>
  </div>
</div>
